/*Aluno: Luiz Paulo Medeiros da Cunha Júnior*/
/*Matricula: 202310962*/
/*========================================================*/
body {
    font-family: Arial, sans-serif;
}


h3 {
    margin-bottom: 20px;
    color: blue;
}


#produtoInput {
    width: 100%;
}

#buscarBtn {
    width: 100%;
}
#listaProdutos {
    max-height: 200px;  
}


