h2{
    background-color: 	#6d6d6d;
    color:white
}
body{
    background-color: #DCDCDC;
}
h1{
    background-color: black;
    color: white;
    text-align: center;
}
td{
    background-color: #4a4e4e;
}
.
campoIndefinido{
    background-color: blue;
    font-size: 300%;
}
.centralizar{
    text-align: center;
}